
 @import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
body {
	font-family: 'Luckiest Guy', cursive;
	font-size: 12px;
	line-height: 20px;
	margin: 0; 
	background: url(images/giphy.gif) 0 0;
}
 #text {	
	font-family: 'Luckiest Guy', cursive;
	font-size: 18px;
	margin: 10 auto;
	text-align: center;
	padding: 30px;

}
#banner {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	border: 70px;
	border-color: pink;

}
#oppy{
	 width: 500px;
    margin: 0 auto;
  	background:rgba(216, 216, 38, 0.56);
    padding : 10px;
    border: 2px solid darkred;
    border-radius: 10px;
   font-weight: bold;

}
#nav{
	white-space: nowrap;
	text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    text-transform: capitalize;
    width: 700px;
    margin: 0 auto;
    border-width:10px;
    border-color: ;
}
#nav a{
	font-family: 'Luckiest Guy', cursive;
	font-weight:bold;
	color:yellow;
	text-transform: uppercase;
	margin-right: 10px;
	width: 300px;
  	border: 1px solid red;
  	padding: 10px;
  	margin: 8px;

			}
#wrapper{
	display:flex;
	width:100%;
}
#main{
	width:100%;
		}

.imgLeft {
    float : left;
    margin-right: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
		}
.imgRight{
	float:right;
	margin-left:15px;
	padding-left: 15px;
	padding-bottom: 15px;

		}

#aside{
	width:35%;
	}
#footer{
	width:15px;
	margin-left: auto;
	margin-right: auto;
	font-family: Geneva, Tahoma, sans-serif;
	color:pink;
	font-size:15px;
	text-transform: uppercase;
	border: 25px ;
	padding-top: 30px;
		}


