 <style>
body {
	font-family: Geneva, Tahoma, sans-serif;
	font-size: 12px;
	line-height: 20px;
	margin: 0; 
	background: url(giphy.gif) 0 0;
}
 #text {	
	font-family: Geneva, Tahoma, sans-serif;
	font-size: 22px;
	margin: 10 auto;
	text-align: center;
	padding: 30px;

}
#banner {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	border: 70px;
	border-color: pink;

}
#nav{
	white-space: nowrap;
	text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    text-transform: capitalize;
    width: 700px;
    margin: 0 auto;
}
#nav a{
	font-family: (your choice);
	font-weight:bold;
	color:red;
	text-transform: uppercase;
	margin-right: 10px;
	padding: 10px;
			}
#wrapper{
	display:flex;
	width:100%;
}
#main{
	width:100%;
		}

.imgLeft {
    float : left;
    margin-right: 10px;
		}
.imgRight{
	float:right;
	margin-left:15;
		}

#aside{
	width:35%;
	}
#footer{
	width:15px;
	margin-left: auto;
	margin-right: auto;
	font-family: Geneva, Tahoma, sans-serif;;
	color:pink;
	font-size:15px;
	text-transform: uppercase;
	border: 25px ;
	padding-top: 30px;
		}


		</style>